<!DOCTYPE html>
<html>
<body>

<h2>Write Blog</h2>

<form action="/nitin/home/add_blog" method="POST">
  <label for="fname">Blog Title</label><br>
  <input type="text" id="fname" name="title" value="" required><br>
  <label for="lname">Discription</label><br>
  <input type="text" id="lname" name="dis" value="" required><br><br>
  <textarea id="" name="blog" rows="4" cols="50" required>
   </textarea>
   <br>
  <input type="submit" value="Submit">
  <input type="button"  onclick="window.location.href='/nitin/home/login_success'" value="View Blog">
</form> 

</body>
</html>